.feedback {
  width: 400px;
  padding: 10px;
  text-align: start;
}

.feedback > h2,
.feedback__statistics > h2 {
  font-size: 1.2em;
}

.feedback__controls {
  display: flex;
  justify-content: start;
  gap: 12px;
}

.feedback__controls > button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: teal;

  color: #fff;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: box-shadow 250ms linear;
}

.feedback__controls > button:active {
  box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}

.feedback__statistics {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.75;
}
